/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/*CSS Variables*/

:root {
    --first-color: #fff;
    --second-color: #777;
    --third-color: #B04607;
}

* {
    font-family: 'Montserrat', monospace;
}