/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/*CSS Variables*/

:root {
    --third-color: #B04607;
    --header-height: 3rem;
    --font-semi: 600;
    --hue-color: 224;
    --first-color: hsl(var(--hue-color), 89%, 60%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    /*==== Font and Typography==== */
    --body-font: 'Montserrat', monospace;
    --big-font-size: 2rem;
    --h2-font-size: 1, 25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /* Margins */
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /* z index */
    --z-back: -10;
    --z-fixed: 100;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1 h2 p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* CLASS CSS */


/* LAYOUT */

.container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    margin: 0 5rem;
}

.home_blob {
    width: 50px !important;
    height: 40px !important;
}

.right image {
    width: 360px;
}