@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
* {
    font-family: 'Montserrat', monospace;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}